In [1]:
import sagemaker

region = sagemaker.Session().boto_region_name
print("AWS Region: {}".format(region))

role = sagemaker.get_execution_role()
print("RoleArn: {}".format(role))

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/ec2-user/.config/sagemaker/config.yaml
AWS Region: us-east-1
RoleArn: arn:aws:iam::905418372691:role/service-role/AmazonSageMaker-ExecutionRole-20240429T192870

In [3]:
import pandas as pd
import s3fs

# Leer datos de ventas en formato Parquet desde S3
bakery_data_path = 's3://bakery-project/clean_bakery_sales.parquet'
bakery_df = pd.read_parquet(bakery_data_path, engine='pyarrow')
bakery_df.head()

,Unnamed: 0,Date,Time,Transaction_id,Menu,Quantity,Price,Revenue,Week_day,Day,Year,Month,Quarter,Day_time
0,0,2021-01-02,08:38,150040,Baguette,1,0.90,0.90,Saturday,2,2021,2021-01,2021Q1,Morning
1,1,2021-01-02,08:38,150040,Pain Au Chocolat,3,1.20,3.60,Saturday,2,2021,2021-01,2021Q1,Morning
2,2,2021-01-02,09:14,150041,Pain Au Chocolat,2,1.20,2.40,Saturday,2,2021,2021-01,2021Q1,Morning
3,3,2021-01-02,09:14,150041,Pain,1,1.15,1.15,Saturday,2,2021,2021-01,2021Q1,Morning
4,4,2021-01-02,09:25,150042,Traditional Baguette,5,1.20,6.00,Saturday,2,2021,2021-01,2021Q1,Morning